@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

/* Global variables */
:root {
  	/* Colors */
  --theme-bg: hsl(0, 0%, 98%);
  --theme-link: #567b76;
  --theme-text: hsl(203, 11%, 15%);
  --theme-accent: hsl(351, 66%, 48%);
  --theme-accent-2: hsl(0, 0%, 7%);
  --theme-quote: hsl(351, 66%, 48%);

	--link-color: var(--theme-link);

  --blend: multiply;

	/* Gradients */

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-body: "IBM Plex Mono", Calibri, 'Trebuchet MS', sans-serif, system-ui;

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
  --theme-bg: hsl(210, 6%, 12%);
  --theme-link: hsl(330, 49%, 67%);
  --theme-text: hsl(220, 3%, 79%);
  --theme-accent: hsl(159, 64%, 48%);
  --theme-accent-2: hsl(0, 0%, 93%);
  --theme-quote: hsl(102, 100%, 86%);

	--link-color: var(--theme-link);

  --blend: screen;

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--theme-bg);
	color: var(--theme-text);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--theme-link);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-weight: 600;
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}



.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
