/* Global variables */
:root {
  	/* Colors */
  --theme-bg: #fafafa;
  --theme-bg2: #eeeeee;
  --theme-bg3: #dedede;
  --theme-text: #22272a;
  --theme-accent1: #cb2a42;
  --theme-accent2: #a94f5e;
  --theme-accent3: #32926d;
  --theme-contrast: #121212;
  --theme-selection: #cdffb8;


	/* Text Sizes */
	--text-sm: 0.833rem;
	--text-base: 1rem;
	--text-md: 1.2rem;
	--text-lg: 1.44rem;
	--text-xl: 1.728rem;
	--text-2xl: 2.074rem;
	--text-3xl: 2.488rem;
	--text-4xl: 2.986rem;
	--text-5xl: 3.4rem;

	/* Fonts */
  /*"IBM Plex Mono" switched for "Nunito"*/
	--font-body: "Nunito", Calibri, 'Trebuchet MS', sans-serif, system-ui;

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
  --theme-bg: #222527;
  --theme-bg2: #292e31;
  --theme-bg3: #3c464d;
  --theme-text: #ddebe9;
  --theme-accent1: #29bc89;
  --theme-accent2: #64b8ac;
  --theme-accent3: #cb2a42;
  --theme-contrast: #565f5e;  
  --theme-selection: #a11735;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: var(--theme-text);
}

html::-webkit-scrollbar-thumb {
  background: var(--theme-accent1);
}

body {
	background-color: var(--theme-bg);
	color: var(--theme-text);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
  font-weight: 400;
  
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.dotgrid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, var(--theme-text) 1px, rgba(0, 0, 0, 0) 1px);
}

.sr-only { display: none; }

.show{ display: grid !important; }

.btn {
  background-color: var(--theme-bg);
  color: var(--theme-accent1);
  border: var(--theme-accent1) 1px solid;
  text-transform: none;
  border-radius: 0.6rem;
  padding: 6px 12px;
  margin: 4px 1px;
  font-size: calc(var(--text-sm)*1.1);
  font-family: var(--font-body);
}

.btn:hover {
  color: var(--theme-text);
  border: var(--theme-text) 1px solid;
  text-decoration: underline;
}



*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0; padding: 0;
  text-decoration: none;
  outline: none; border: none;
}

*::selection{
  background-color: var(--theme-selection);
  color:var(--theme-text)
}

img {
	max-width: 100%;
	height: auto;
}

a { color: var(--theme-text); text-decoration: underline;}
a:hover {  color: var(--theme-accent1); }

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.4;
	font-weight: 500;
}

h1 {
	font-size: var(--text-4xl);
}

h2 {
	font-size: var(--text-3xl);
}

h3 {
	font-size: var(--text-2xl);
}

h4 {
	font-size: var(--text-xl);
}

h5 {
	font-size: var(--text-lg);
}

.accent {
  color: var(--theme-accent1);
}

#sidebar {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  height: 100vh;
  width: 25rem;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 1rem;
}

#sidebar .user {
  padding: 1rem 1rem;
  width: 16rem;
}

#sidebar .user .name {
  font-size: var(--text-md);
  margin: 0.5rem 0;
}

#sidebar .user .post {
  font-size: var(--text-base);
  margin: 0.5rem 0;
}

#sidebar .user img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
  background-image: radial-gradient(#fafafadd, #fafafa44);
}

#sidebar .navbar {
  width: 16rem;
  margin-top: 4rem;
}

#sidebar .navbar ul {
  list-style: none;
  padding: 1rem 0 0 0;
}

#sidebar .navbar ul li a {
  display: block;
  padding: 0.6rem;
  margin: 0.6rem auto;
  background: var(--theme-bg);
  font-size: var(--text-base);
  border-radius: 4rem;
  width: 80%;
  color: var(--theme-text);
  text-decoration: none;
}

#sidebar .navbar ul li a:hover {
  outline: 2px var(--theme-text) solid;
}

#sidebar .navbar ul li a.active {
  color: var(--theme-accent1);
}

#sidebar .navbar .theme-toggle {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0 0 0.5rem 0;
}

#page, .baselayout-content {
  margin-left: calc(5vw + 28rem);
  width: 75rem;
}

.boxcard {
  color: var(--theme-text);
  background: var(--theme-bg);
  border: var(--theme-text) 2px solid;
  box-shadow: var(--theme-contrast) 4px 4px;
}

.heading {
  font-size: var(--text-2xl);
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--theme-text);
}

.hero {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 10rem 0 6rem;
}

.hero p {
  padding: 1rem 0;
}

.hero h1 {
  font-size: var(--text-2xl);
}

.hero-icon-row {
  display: inline-flex;
  align-items: baseline;
}

.hero-icon {
  padding: 0 0.5rem;
  display: inline-flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  font-size: var(--text-lg);
  color: var(--theme-text);
  border: none;
}

.hero-icon:hover {
  color: var(--theme-accent1);
}

.hero-icon:first-of-type {
  margin-left: 0.7rem;
}
.about h3 {
  font-size: var(--text-md);
  padding: 0.8rem 0;
}

.about span {
  color: var(--theme-accent1);
}

.about .about-container {
  display: grid;
  grid-template-columns: 320px auto;
  max-width: 1000px;
  margin: 1rem auto;
}

.about .about-container .about-img {
  display: grid;
  align-content: center;
}

.about .about-container .about-img .img {
  border-radius: 3rem;
  border: 2px solid var(--theme-text);
  scale: 0.9;
}

.about .about-container .about-summary {
  margin-left: 1rem;
}

.about .about-post {
  display: block;
  max-width: 1000px;
  margin: auto;
}

.about .about-lists {
  display: block;
  margin: 1rem;
}

.about ul {
  list-style: none;
  padding: 0 0.2rem;
  float: left;
}

.about ul li {
  margin: 4px 20px 0 0;
  align-items: center;
  font-size: var(--text-base);
}


.about ul strong {
  margin-right: 2px;
}

.about ul i {
  font-size: var(--text-base);
  margin-right: 2px;
  color: var(--theme-text);
  line-height: 0;
}

.about p:last-child {
  margin-bottom: 0;
}

.about .about-row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .about-row .counter .box {
  display: flex;
  align-items: center;
  width: 20rem;
  margin: 1.6rem; 
}

.about .about-row .counter .box .img {
  width: 5.5rem;
  background-color: var(--theme-bg);
  background-image: linear-gradient(160deg, #91d3b4c7, #da8893a6);
  border-radius: 20px;
  border: 2px solid #22272a;
  z-index: 20;  
}

.about .about-row .counter .box h3 {
  font-size: var(--text-base);
  background-color: var(--theme-bg2);
  padding: 1rem 1rem 1rem 2rem;
  margin-left: 0.5rem;
  position: relative;
  left: -1rem;
  width: 100%;
}

.resume .row {
  display: grid;
  grid-template-columns: auto;
}

.resume .resume-item {
  padding: 0 0 1rem 20px;
  margin-top: -2px;
  border-left: 2px solid var(--theme-accent1);
  position: relative;
}

.resume .resume-title {
  font-size: var(--text-lg);
  margin: 2rem 0;
  width:98%;
  border-bottom: 1px solid var(--theme-bg3);
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: 14px;
}

.resume .resume-item h5 {
  font-size: var(--text-base);
  margin: 8px 0;
}

.resume .resume-item h5 .date {
  font-size: var(--text-base);
  background: var(--theme-bg2);
  padding: 2px 15px;
  font-weight: 600;
}

.resume .resume-item h5 .gpa{
  float: right;
  font-weight: 400;
  margin-right: 2rem;
}

.resume .resume-item ul {
  padding-left: 10px;
}

.resume .resume-item ul li {
  padding-bottom: 6px;
}

.resume .resume-item p:first-of-type {
  margin: 0.5rem 0.3rem;
  color: var(--theme-accent2);
}

.resume .resume-item p {
  margin: 0.5rem 0.3rem;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--theme-bg);
  border: 2px solid var(--theme-accent1);
}

.resume .resume-row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resume .resume-row .counter .resume-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  background: var(--theme-bg2);
  padding-bottom: 0.5rem;
  margin: 1.6rem;
}

.resume .resume-row .counter .resume-box h4 {
  font-size: var(--text-base);
  border-bottom: 1px solid var(--theme-accent1);
  width: 100%;
  text-align: center;
  background-color: var(--theme-bg);
  padding: 0.5rem 0;
  justify-self: center;
}

.resume .resume-row .counter .resume-box ul li {
  margin: 0.2rem;
}

.portfolio .box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
}

.portfolio .box-container .portfolio-item {
  display: none; /*default display, addtnl display handled by portfolio.astro js*/
  grid-template-columns: 40% 60%;
  width: 100%;
  border-bottom: 1px solid var(--theme-text);
}

.portfolio .box-container .portfolio-item .portfolio-item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .box-container .portfolio-item .portfolio-item-right {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.portfolio .box-container .portfolio-item .portfolio-item-title{
  text-align: center;
  margin-top: 2rem;
  max-width: 30ch;
}
.portfolio .box-container .portfolio-item .portfolio-item-description{
  max-width: 65ch;
  padding: 1rem 0 0 1rem;
}
.portfolio .box-container .box {
  width: 18rem;
  margin: 0.5rem 2rem 2rem 2rem;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.portfolio .tag-list {
  color: var(--theme-text);
  font: var(--text-base);
  list-style-position: inside;
  padding: 1rem 0 1rem 1rem;
}

.portfolio .tag-list li{
  padding-left: 0.5rem;
}
/*
.portfolio .box-container .box:hover img{
  transform: scale(1.2);
}
*/

/*styles button to scroll to top of page*/
.top {
  margin: 3rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* media queries */
@media (max-width:1700px) {

  .hero {
    padding: 1rem 6rem;
  }

  /*shrink sidebar and child items*/
  #sidebar {
    margin-left: 2vw;
    width: 18rem;
  }

  #sidebar .user, #sidebar .navbar {
    width: 15rem;
  }

  #page, .baselayout-content {
    margin-left: calc(2vw + 20rem);
    width: 70%;
  }
  
}


@media (max-width:991px) {
  
  /*move sidebar and child items to bar across top of page*/
  #sidebar {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    margin: 0 0;
    padding: 0 0 5px 0;
    border-bottom: solid 2px var(--theme-text);
  }

  #sidebar .user, #sidebar .navbar {
    border: none;
    box-shadow: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    padding: 0 0;
  }

  #sidebar .user img { 
    height: 3rem;
    width: 3rem;
    margin: 0 0 0 1rem;
    padding: 0 0; 
  }

  #sidebar .user .name { font-size: var(--text-base);}
  #sidebar .user .post { display: none; }
  #sidebar .navbar ul { 
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
  }

  #sidebar .navbar ul li {
    margin: 0 4px;
    width: 90px;
  }

  #sidebar .navbar ul li a {
    padding: 4px 2px;
    font-size: calc(var(--text-base)*0.95);
    width: 100%;
  }

  #sidebar .navbar ul li a:hover {
    background-color: var(--theme-text);
    color: var(--theme-bg2)
  }

  #sidebar .navbar .theme-toggle {
    display: flex;
    align-items: center;
    flex-flow: row;
    padding: 10px 200px 0 0;
  }
  #page, .baselayout-content {
    width: 100%;
    margin-left: 0;
  }

  .hero {
    padding: 1rem;
  }

  .about .about-container {
    grid-template-columns: 200px auto;
  }

  .about .about-row .counter .box .img {
    width: 5rem;
  }

}

@media (max-width:700px) {

  #sidebar {
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0;
  }

  #sidebar .user .name { margin: 1rem 0;}
  #sidebar .user img {display: none;}
  #sidebar .navbar ul { width: 50%;}

  #sidebar .user, #sidebar .navbar {
    width: 100%;
  }

  #sidebar .navbar, #sidebar .navbar ul {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  #sidebar .navbar, #sidebar .navbar ul li { width: 90%; }
  #sidebar .navbar ul li a { padding: 10px; margin: 2px; }

  #sidebar .navbar .theme-toggle {
    justify-content: center;
    margin: 0.2rem 0;
    padding: 0;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .about .about-container {
    grid-template-columns: 100%;
  }
}
