---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<section class="hero" id="hero">
    <h3>Oops !</h3>
    <h1><br>Couldn't find that page <span class="accent">¯\_(ツ)_/¯</span></h1>
  </section>
</BaseLayout>
