---
import Icon from './Icon.astro';
---

<section id="about" class="about">

  <h2 class="heading"><span class="accent">about </span>me</h2>
  <p>I have an intersectional professional background but I like to think it's brought together by a strong interest in math and wanting to work on sustainability. </p>

  <div class="about-container">
    <div class="about-img">
      <img src="../../assets/steslow.jpg" class="img" alt="">
    </div>
    <div class="about-summary">
      <h3>Civil Engineer &amp; GIS Analyst</h3>
      <p>
        I started as a civil engineer working on water resources and I found I loved worked on GIS. I completed a master's degree in GIS to hone these skills and learn to code.
      </p>
      <div class="about-lists">
        <ul class="list-left">
          <li><Icon icon="caret-right" /><strong>Certified PE:</strong> <span>Civil, AZ #75715</span></li>
          <li><Icon icon="caret-right" /> <strong>MS:</strong> <span>GIS Online Development</span></li>
          <li><Icon icon="caret-right" /> <strong>BS:</strong> <span>Civil Engineering</span></li>
        </ul>
        <ul class="list-right">
          <li><Icon icon="caret-right" /> <strong>City:</strong> <span>Tucson, AZ, USA</span></li>
          <li><Icon icon="caret-right" /> <strong>Email:</strong> <span>steslowj@gmail.com</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="about-post">
    <p>
      Outside of work and school, I enjoy (indoor!) rock climbing, cycling, hiking, eating good food, and relaxing with friends for board games.
    </p>
  </div>
  
  <div class="about-row">
    <div class="counter">

      <div class="box">
        <img src="../../assets/tank.png" class="img" alt="">
        <h3>my dog <a href="https://youtu.be/UFFa0QoHWvE?si=RV8jIOQim4NRNUKo" target="_blank">Tank !</a></h3>
      </div>

      <div class="box">
        <img src="../../assets/computer.png" class="img" alt="">
        <h3>web dev &amp; GIS coding</h3>
      </div>
      
      <div class="box">
        <img src="../../assets/bike.png" class="img" alt="">
        <h3>cycling</h3>
      </div>
      
      <div class="box">
        <img src="../../assets/latte.png" class="img" alt="">
        <h3>good food &amp; drink</h3>
      </div>

      <div class="box">
        <img src="../../assets/dragon.png" class="img" alt="">
        <h3>games: board, video, &amp; TTRPG</h3>
      </div>
    </div>
  </div>
</section>