---
import ThemeToggle from './ThemeToggle.astro';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'home', href: '/' },
	{ label: 'portfolio', href: '/portfolio/' },
	{ label: 'resume', href: '/resume/' },
];

---
<div id="sidebar">
  <div class="user boxcard">
    <h3 class="name">Jessica <span class="accent">Steslow</span></h3>
    <p class="post">路 maps and data 路</p>
    <p class="post">路 green engineering 路</p>
    <img src="/../../assets/lightbulb.svg" alt="&#128161;"/>
  </div>

    <nav class="navbar boxcard">
      <ul>
        {
          textLinks.map(({ label, href }) => (
            <li>
              <a
                aria-current={Astro.url.pathname === href}
                class:list={[
                  'link',
                  {
                    active:
                      Astro.url.pathname === href ||
                      (href !== '/' && Astro.url.pathname.startsWith(href)),
                  },
                ]}
                href={href}
              >
                {label}
              </a> 
            </li>
          ))
        }
      </ul>
      <div class="theme-toggle">
        <ThemeToggle />
      </div>
    </nav>

</div>


